.chip {
    padding: 0 25px;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin-bottom: 8px;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 20%;
}