
<h3>Bienvenido a la tienda de Doña Gloria</h3>
<p>Por favor complete el siguiente formulario</p>
<form>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Correo</span>
        <input type="text" class="form-control" placeholder="Usuario" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Contraseña</span>
        <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Contraseña</span>
        <input type="password" class="form-control" placeholder="Ingrese nuevamente la contraseña" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Nombre completo</span>
        <input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Telefono</span>
        <input type="text" class="form-control" placeholder="Celular" aria-describedby="basic-addon1">
    </div>
    <button class="btn" type="button">Enviar</button>
</form>